titanic datasını okuyunuz(<b>train.csv</b>). Ödevin geri kalanında dataframe gösterimlerini <b>display()</b> fonksiyonunu kullanarak yapınız.<br> Örn: display(titanic_df)

In [2]:
import pandas as pd
import numpy as np

In [3]:
df_titanic = pd.read_csv("titanic.csv")

In [4]:
display(df_titanic)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
1304,1305,NaN,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
1305,1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
1306,1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
1307,1308,NaN,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
1308,1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [36]:

tmissing_df=pd.read_csv("train_missing.csv")

FileNotFoundError: [Errno 2] File train_missing.csv does not exist: 'train_missing.csv'

# Soru 1:

Kazada ölenlerin yaş ortalamasını bulunuz

In [22]:
df_titanic.query("Survived<1.0").Age.mean()

30.62617924528302

Kazada ölenlerin bilet fiyatlarının ortalamasını ve medyanını bulunuz

In [23]:
df_titanic.query("Survived<1.0").Fare.mean()

22.117886885245877

In [34]:
df_titanic.query("Survived<1.0").Fare.median()

10.5

Kazada ölen erkeklerin yaş ortalamasını bulunuz

In [24]:
df_titanic.query("Survived<1.0 and Sex=='male'").Age.mean

<bound method Series.mean of 0      22.0
4      35.0
5       NaN
6      54.0
7       2.0
       ...
881    33.0
883    28.0
884    25.0
886    27.0
890    32.0
Name: Age, Length: 468, dtype: float64>

Kazada ölen Kadınların yaş ortalamasını bulunuz

In [25]:
df_titanic.query("Survived<1.0 and Sex=='female'").Age.mean

<bound method Series.mean of 14     14.0
18     31.0
24      8.0
38     18.0
40     40.0
       ...
854    44.0
863     NaN
882    22.0
885    39.0
888     NaN
Name: Age, Length: 81, dtype: float64>

# Soru 2:

Kazadan kurtulanların yaş ortalamasını bulunuz

In [27]:
df_titanic.query("Survived>0.0").Age.mean()

28.343689655172415

Kazadan kurtulanların bilet fiyatlarının ortalamasını bulunuz

In [30]:
df_titanic.query("Survived>0.0").Fare.mean()

48.39540760233917

Kazadan kurtulan toplam kişi sayısını bulunuz

In [7]:
titanic_df.query("Survived==1.0").Survived.count()

Kazadan kurtulan erkeklerin yaş ortalamasını bulunuz

In [28]:
df_titanic.query("Survived>0.0 and Sex=='male'").Age.mean()

27.276021505376345

Kazadan kurtulan kadınların yaş ortalamasını bulunuz

In [29]:
df_titanic.query("Survived>0.0 and Sex=='female'").Age.mean()

28.84771573604061

# Soru 3:

10 yaşından küçüklerin bilet fiyatlarının medyan değerini bulunuz

In [31]:
df_titanic.query("Age<10").Fare.median()

26.0

10 yaşından büyüklerin bilet fiyatlarının medyan değerini bulunuz

In [32]:
df_titanic.query("Age>10").Fare.median()

14.4542

# Soru 5:

1.sınıf, 2.sınıf ve 3.sınıf yolcuların ölüm oranlarını karşılaştırınız. Bir veya bir kaç cümle ile sonucu <b>yorumlayınız.</b>

In [38]:
olum1=df_titanic.query("Pclass==1").Survived.sum()
toplam1=df_titanic.query("Pclass==1").Survived.count()
sinif1=100-(olum1/toplam1)*100

olum2=df_titanic.query("Pclass==2").Survived.sum()
toplam2=df_titanic.query("Pclass==2").Survived.count()
sinif2=100 -(olum2/toplam2)*100

olum3=df_titanic.query("Pclass==3").Survived.sum()
toplam3=df_titanic.query("Pclass==3").Survived.count()
sinif3=100-(olum3/toplam3)*100

print("1.sınıf yolcu ölüm oranı %",round(sinif1,2))
print("2.sınıf yolcu ölüm oranı %",round(sinif2,2))
print("3.sınıf yolcu ölüm oranı %",round(sinif3,2))
print("1. sınıf yolcuların ölüm oranı 2. ve 3. sınıf yolculara göre daha düşüktür. En yüksek ölüm oranı 3. sınıf yolcularda meydana gelmiştir.")

1.sınıf yolcu ölüm oranı % 37.04
2.sınıf yolcu ölüm oranı % 52.72
3.sınıf yolcu ölüm oranı % 75.76
1. sınıf yolcuların ölüm oranı 2. ve 3. sınıf yolculara göre daha düşüktür. En yüksek ölüm oranı 3. sınıf yolcularda meydana gelmiştir.

1.sınıf, 2.sınıf ve 3.sınıf bilet fiyatlarını karşılaştırınız

In [40]:
sinif1_ort= df_titanic.query("Pclass==1")["Fare"].mean()
sinif2_ort= df_titanic.query("Pclass==2")["Fare"].mean()
sinif3_ort= df_titanic.query("Pclass==3")["Fare"].mean()
print("1. Sınıf   " +str(sinif1_ort))
print("2. Sınıf    " +str(sinif2_ort))
print("3. Sınıf    " +str(sinif3_ort))
print("Bilet fiyatı en yüksek sınıf birinci sınıf daha sonra 2. ve 3. sınıflar gelmekte.")

1. Sınıf   87.5089916408668
2. Sınıf    21.1791963898917
3. Sınıf    13.302888700564969
Bilet fiyatı en yüksek sınıf birinci sınıf daha sonra 2. ve 3. sınıflar gelmekte

# Soru 6:

Kazada ölen kadınların oranı ile erkeklerin oranını karşılaştırınız. Bir veya bir kaç cümle ile sonucu <b>yorumlayınız.</b>

In [43]:
erkek=df_titanic.query("Survived==0.0 and Sex=='male'").Sex.count()
kadin=df_titanic.query("Survived==0.0 and Sex=='female'").Sex.count()
olum=df_titanic.query("Survived==0.0").Survived.count()

oran2=round((erkek/olum)*100,2)
oran1=round((kadin/olum)*100,2)

print("Kazada ölen erkeklerin oranı %",str(oran2))
print("Kazada ölen kadınların oranı %",str(oran1))
print("Kaza yaşandıktan sonra kurtarılma önceliği kadınlara verilmiştir")

Kazada ölen erkeklerin oranı % 85.25
Kazada ölen kadınların oranı % 14.75
Kaza yaşandıktan sonra kurtarılma önceliği kadınlara verilmiştir

# Soru 7:

Kazada ölen erkeklerin ortalama bilet fiyatı ile kurtulan erkeklerin ortalama bilet fiyatını karşılaştırınız. Bir veya bir kaç cümle ile sonucu <b>yorumlayınız.</b>

In [44]:
olum=round(df_titanic.query("Sex=='male' and Survived==0").Fare.mean(),2)
yasayan=round(df_titanic.query("Sex=='male' and Survived==1.0").Fare.mean(),2)
print("Kazada ölen erkeklerin ortalama bilet fiyatı : %",str(olum))
print("Kazada kurtulan erkeklerin ortalama bilet fiyatı :  %",str(yasayan))

Kazada ölen erkeklerin ortalama bilet fiyatı : % 21.96
Kazada kurtulan erkeklerin ortalama bilet fiyatı :  % 40.82

# Missing Value Doldurma

Bundan sonraki soruları <b>train_missing.csv</b> datasını kullanarak cevaplayınız.

# Soru 8

Age, Embarked ve Fare değişkenlerini mean/median/mode değerlerini kullanarak değişken tipine uygun olacak şekilde doldurunuz.

In [ ]:
# bu alana python kodunu yazıp çıktısı görülecek şekilde çalıştırınız

# Soru 9

SibSp değişkeni hangi yöntemler ile doldurulabilir, fikir yürütün. Uygun bir yöntem ile doldurun. (SibSp değişkeni kişilerin gemide bulunan kardeş/eş sayısını belirtiyor.)

In [ ]:
# bu alana python kodunu yazıp çıktısı görülecek şekilde çalıştırınız

# Soru 10

Datayı baştan okuyun. Embarked değişkenini "NAN" şeklinde yeni bir kategorisi olacak şekilde doldurun.

In [ ]:
# bu alana python kodunu yazıp çıktısı görülecek şekilde çalıştırınız

# Soru 11

"Fare" değişkeni için "Fare_Missing" adında yeni bir değişken türetip "Fare" değişkenini median ile doldurun.

In [ ]:
# bu alana python kodunu yazıp çıktısı görülecek şekilde çalıştırınız